<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/app.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Character Info</h1>
    <%=affiliation.name%><br/>
    <img src="<%=affiliation.img%>" alt=""><br/>
    <%=affiliation.info%><br/>
    <br/>
    <a href="/malazan-db/affiliations/<%=affiliation.id%>/edit">Edit Information?</a>
    <form action="/malazan-db/affiliations/<%=affiliation.id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE"/>
    </form>
    <a href="/malazan-db">Back To Database</a>
  </body>
</html>
