<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Editing</title>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <h1 style="text-align: center;">Edit A Character!</h1>
    <div class="container">
      <form action="/malazan-db/characters/<%=character.id%>?_method=PUT" method="POST">
        <div class="form-group">
          <label>Name: </label>
          <input type="text" name="name" value="<%=character.name%>"/>
        </div>
        <div class="form-group">
          <label>Image URL: </label>
          <input type="text" name="img" value="<%=character.img%>"/>
        </div>
        <div class="form-group">
          <label>Description: </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="info" placeholder="<%=character.info%>" rows="3"><%=character.info%></textarea>
        </div>
        <div class="form-group">
          <label>Quote: </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="quote" placeholder=""="<%=character.quote%>" rows="3"><%=character.quote%></textarea>
        </div>
        <div class="form-group">
          <input  class="btn btn-danger" type="submit" value="Submit Changes" />
        </div>
      </form>
    </div>
  </body>
</html>
